
#### RETIRED!!!!!!!!

  <section class="left_shop_panel">

    <%= link_to "Create new product", new_product_path%>
    <%= link_to "Orders", merchant_orders_path(merchant_id: session[:merchant_id]) %>
    <%#= link_to "MIGHT NOT WANT TO DO THIS: Delete Account", root_path%>

  </section>