 /* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";
 /* Import scss content */
@import "**/*";

//////////////// TEMPORARY,marking sections ONLY! get rid of this when all done!!!
* {
   // border: 1px dashed white;
}

//////////////// GENERAL REFERENCE ///////////////////
// background-color: #1A3365;
// background-color: #FFBB00;
// background-color: #FF4343
// font-family: 'Alegreya', serif;
// font-family: 'Bubblegum Sans', cursive;
// font-family: 'Capriola', sans-serif;
// font-family: 'Gorditas', cursive;
// font-family: 'Knewave', cursive;
// font-family: 'Lemon', cursive;
// font-family: 'Modak', cursive;
// font-family: 'Sriracha', cursive;

///////////////////////////////////
///////////////////////////////////
///////////////////////////////////

body {
   background-color: #FFBB00;
   font-family: 'Capriola', sans-serif;
   margin: 1rem;
}

h1 {
   font-family: 'Gorditas', cursive;
   font-size: 5rem;
   text-align: center;
   background-color: #FF4343
}

.quiet_link {
   color: black;
}

.quiet_link:hover {
   color: black;
   text-decoration: none;
}

.img_100_width {
   width: 100vw;
   object-fit: scale-down;
}

.thumbnail {
   width: 100%;
}

.homepage-nav-links {
   display: flex;
   background-color: lightgreen;
   margin: 0.5rem 0rem;
   justify-content: space-between;
}

.flash_section {
   background-color: skyblue;
   margin: 0.5rem 0rem;
}

.table-responsive {
   // Bootstrap: lets u scroll horizontally
}

.table-striped {
   // Bootstrap: colors every other row
}

footer {
   display: flex;
   background-color: wheat;
   margin-top: 1.5rem;
   justify-content: space-evenly;
}

footer section {
   font-family: 'Gorditas', cursive;
}


/// OPTIONAL: Caroline is still toying with this ///

.two_panels {
   display: grid;
   grid-template-columns: 1fr 5fr;
}

.two_panels * {
   margin: 1rem 0rem;
}

.left_shop_panel {
   display: flex;
   flex-direction: column;
}

.left_shop_panel a {
   background-color: lime;
}
/// end OPTIONAL: Caroline is still toying with this ///
