 /* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";
 /* Import scss content */
@import "**/*";

//////////////// TEMPORARY,marking sections ONLY! get rid of this when all done!!!
* {
   border: 1px dashed white;
}

//////////////// GENERAL REFERENCE ///////////////////
// background-color: #1A3365;
// background-color: #FFBB00;
// background-color: #FF4343
// font-family: 'Alegreya', serif;
// font-family: 'Bubblegum Sans', cursive;
// font-family: 'Capriola', sans-serif;
// font-family: 'Gorditas', cursive;
// font-family: 'Knewave', cursive;
// font-family: 'Lemon', cursive;
// font-family: 'Modak', cursive;
// font-family: 'Sriracha', cursive;

///////////////////////////////////
///////////////////////////////////
///////////////////////////////////

body {
   background-color: #FFBB00;
   font-family: 'Capriola', sans-serif;
}

h1 {
   font-family: 'Gorditas', cursive;
   font-size: 5rem;
   text-align: center;
   background-color: #FF4343
}

.img_100_width {
   width: 100vw;
   object-fit: scale-down;
}

.homepage-nav-links {
   background-color: lightgreen;
}

.flash_section {
   background-color: skyblue;
}