// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.customer, .order_spotlight{
  background-color: lightcoral;
  padding: 1rem;
}

.cc {
  background-color: lightseagreen;
  padding: 1rem;
}

.order_summary, .customer_spotlight {
  background-color: lightgreen;
  padding: 1rem;
}

.two_columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.long_enough {
  height: 20rem;
}


