// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.padding-top-20px{
  padding-top: 20px;
}

h3.padding-top-20px{
  text-align: center;
  text-decoration: underline;
}
