<h1>Category: <%= @category.name %> </h1>

<div class="container">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-md-4 product-index-item">
        <div class="img"><%= make_thumbnail_link(product)%></div> 
        <%= link_to product.name, product_path(product.id)%> 
        <%= usd(product.price) %></div>
      <% end%>
  </div>
</div>